.dragon-details-card {
    background-color: white;
    border-radius: 8px;
    padding: .5em;
    margin: 1em;
}

.dragon-details-card h1 {
    margin: 1em 1em;
}

.inputs {
    width: 90%;
    margin: auto;
}

.field {
    margin-bottom: 1.5em;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
}

.dragon-details-card .buttons {
    padding: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-icon {
    padding-right: .25em;
}

.label {
    font-weight: 600;
    text-transform: uppercase;
}

.return-button {
    margin: auto;
}

input {
    width: 100%;
}

span {
    color: red;
}