.login_card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto 16px;
    padding: 1em;
    border-radius: 16px;
    background-color: rgb(253, 247, 247);
}

.login_card img {
    width: 10em;
    border-radius: 50%;
    border: 2px solid red;
}

.login_card .description {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    margin: 1em;
}

.login_card form{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login_card .field {
    width: 100%;
    color: #000;
    height: 24px;
    margin-bottom: 8px;
    border-radius: 8px;
}

.login_card .warning {
    color: red;
    margin-bottom: 8px;
}

.login_card button {
    width: 100%;
    background-color: #FF0000;
    border-color: #FF0000;
    border-radius: 8px;
}